.main-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Poppins-Medium;
}
.search-block{
    display: flex;
    width: 100%;
    height: max-content;
    padding: 2rem 0 0rem 2rem;
    gap: 4rem;
    margin-right: 1rem;
    align-items: center;
}

.user-table-block{
    border: 1px solid grey;
    border-radius: 10px;
    margin:3rem;
}


.search-block{
    width: max-content;
    align-self: flex-end;
    justify-content: end;
    padding-right: 2rem;
}

.search-box{
    width: 20rem;
}

.form-button {
    height: 50px !important;
    width: 170px;
    text-align: center;
  }

.home-button{
    height: 35px !important;
    width: 150px;
    text-align: center;
}

.loaderImage{
    display: flex;
    height:20rem;
    padding: 5rem;
    justify-self: center;
    align-self: center;
    place-self: center;
}

@media only screen and (max-width: 768px){
    .search-block{
        flex-direction: column;
        width: 80vw;
        padding: 2rem 2rem 2rem 3rem;
        margin: 0;
        gap: 1rem;
        align-content: center;
        justify-content: center;
    }

    .user-table-block{
        width: 100vw;
        margin: 0rem;
    }

    .loaderImage{
        height:10rem;
        padding: 1rem;
    }
}

@media(max-width: 320px){
    .container{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 4rem 0 0 0;
    }

    .search-box{
        width: 15rem;
    }

    .user-table-block{
        width: 100vw;
        justify-self: center;
        align-self: center;
        margin: 0rem;
    }
}