.container{
    display: flex;
    width: 100vw;
    /* height: max-content; */
    flex-direction: column;
}

.header-block{
    background-color: #a29bfe3c;
}

.title{
    width: 20vw;
    height: 30vh;
    padding: 20px 0 0 60px;
    font-weight: 500;
    font-size: 44px;
    font-family: Poppins-Medium;
    flex-direction: row;
}

.header-image{
    display: flex;
    height:30vh;
    top:0;
    right:0;
    position: fixed;
}

.block-1{
    display: flex;
    width: inherit;
    height: 10vh;
    padding-left: 20px;
    flex-direction: row;

    justify-content: flex-start;
    gap: 10rem;
    align-items: center;

    /* background-color: cornflowerblue; */
}

.student-count-block{
    flex-direction: column;
    padding-top: 10px;

    font-size: 32px;
}

.student-cards-block{
    justify-content: center;
    /* background-color: darkgoldenrod; */
}

.student-card-more{
    justify-content: center;
    align-self: center;
}
.form-button {
    height: 50px !important;
    width: 150px;
    text-align: center;
  }

.footer{
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
  }

@media only screen and (max-width: 768px){
    .title{
        display: flex;
        height: 20vh;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
        padding: 2px 0 0 6px;
        font-size: 32px;
    }
    .block-1{
        justify-content: space-evenly;
        gap:0rem;
    }

    .header-image{
        height: 20vh;
    }
}

@media(max-width: 320px){
    .container{
        display: flex;
        width: inherit;
        justify-content: center;
        align-content: center;
    }

    .header-block{
        display: flex;
        width: inherit;
        position: absolute;
        top:0;
        left:0;
        height: 20vh;
    }

    .title{
        display: flex;
        height: 20vh;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
        top:0;
        padding: 0;
        font-size: 32px;
    }
    .header-image{
        display: none;
        height: 20vh;
    }
    .block-1{
        margin-top: 4rem;
        width: inherit;
        height: 15vh;
        gap:1rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .student-count-block{
        flex-direction: row;
        font-size: 24px;
    }

    .student-cards-block{
        margin-top: 3rem;
    }
}